@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* styling for heading */
.heading{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 0rem 2rem ;
}
.btn_logo{
  background-color: #E7E7E7;
  color:#DC4A2D;
  font-size: 1rem;
  font-weight: 800;
  padding: 0.75rem 1.25rem;
  border: none;
}
.btn_jobs{
  padding: 0.5rem 0.75rem;
  font-size: 1.125rem;
  font-weight: 400;
  color:#FFFFFF;
  background-color: #DC4A2D;
  border: 2px solid #FCB4A5;
  border-radius: 2rem;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.nav_wrapper_one ,.nav_wrapper_two{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav_wrapper_options{
  color:#B0B0B0;
  display: flex;
  gap: 1.5rem;
  margin: 1rem;
  padding: 0.5rem;
  border: 0.5px solid #D1D1D1;
  border-radius: 2rem;
  box-shadow: 0px 4px 4px 0px #00000040; 
}
.nav_wrapper_options button{
  border: none;
  padding: 0.5rem;
  background-color: #ffffff;
  color:#B0B0B0;
  font-size:1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.atlassian_icon{
  background-color: #003788;
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
}
/* job post styling */
.options {
  padding: 1rem 5rem;
  display: flex;
  gap: 4rem;
}
.options li{
  list-style-type: none;
  font-size: 1rem;
  color: #888888;
  position: relative; 
}
.options li:first-child{
  color:#DC4A2D;
}
.job_designation {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding:1.5rem 5rem 0 5rem;
}
.job_role {
  font-size: 2.2rem;
  font-weight: 700;
}
.job_date_posted {
  font-size: 0.85rem;
  color: #888888;
}
.job_status {
  border: none;
  padding: 5px 10px;
  color: #067647;
  background-color: white;
  border: 1px solid #abefc6;
  border-radius: 1rem;
}
.job_location_and_salary {
  display: flex;
  gap: 5rem;
  padding: 1rem 5rem;
}
.job_location,
.job_salary {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #5d5d5d;
  font-weight: 400;
  font-size: 1.2rem;
}
.job_requirements{
  display: flex;
  gap: 4rem;
  padding: 1rem 2rem 1rem 5rem;
  line-height: 2rem;
}
.job_requirements li{
  list-style-type: none;
}
.job_requirements li:first-child{
  font-size: 0.875rem;
  color: #6E6D6D;
}
.skills_required li{
  font-size: 0.75rem;
}
.skills_required li button{
  padding: 0.25rem;
  margin-top: 0.25rem;
  border: 1.2px solid #D0D5DD;
  background: #FFFFFF;
  border-radius: 0.45rem;
  box-shadow: 0px 4px 4px 0px #00000014;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.wrapper_container {
  display: grid;
  grid-template-columns: 75% 25%;
}
.wrapper_container section{
  border-top:  1px solid #e7e7e7 ;
  border-right: 1px solid #e7e7e7 ;
}
.icon {
  height: 1.5rem;
  width: 1.5rem;
}
.job_overview {
  color: #3d3d3d;
  padding: 1.5rem 5rem;
  line-height: 1.75rem;
}
.job_overview p:first-child{
  color: #6E6D6D;
  font-size: 0.9rem;
}
.job_overview ol,.job_overview ul {
  padding-left: 1rem;
  width: 65%;
}
.flex_container{
  padding: 3rem 5rem;
}
.flex_container li{
  list-style-type: none;
}
.company_details {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.company_icon {
  background-color: #003788;
  color: white;
  padding: 0.75rem;
  border-radius: 0.35rem;
}
.company_name {
  font-size: 1.25rem;
  color: #4f4f4f;
}
.btn_follow {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  font-weight: 700;
  border: none;
  background-color: #e0ebf9;
  border-radius: 1rem;
  color: #003788;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.flex_wrapper {
  margin-top:1rem ;
  display: flex;
  gap: 10rem;
  color: #3d3d3d;
}
.wrapper_one ul li:first-child,
.wrapper_two ul li:first-child {
  color: #6e6d6d;
  font-size: 0.9rem;
  line-height: 2.5rem;
}
aside {
  font-family: "Poppins", sans-serif;
  background-color: #FCFCFC;
  padding: 2rem 0.5rem 1rem 2rem;
  border-top:  1px solid #e7e7e7 ;
  border-right: 1px solid #e7e7e7;
  border-radius: 0.5rem;
}
.btns_wrapper {
  display: flex;
  gap: 1rem;
}
.btn_delete {
  padding: 0.5rem 1.25rem;
  color: #dc4a2d;
  background-color: #fef4f2;
  border: 1px solid #dc4a2d;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}
.btn_edit {
  padding: 0.5rem 1.25rem;
  color: #ffffff;
  background-color: #dc4a2d;
  border: 1px solid #dc4a2d;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}
.job_post_details{
  margin: 3rem 0 ;
}
.job_post_details li {
  margin: 1.25rem 0.5rem;
  display: flex;
  justify-content: space-between;
}
.job_post_details li > p:first-child {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color:#4F4F4F;
  font-size: 1rem;
}
.job_post_details li > p:last-child{
  font-size: 1rem;
  color: #3D3D3D;
}
hr {
  border: none;
  background-color: #e7e7e7;
  height: 1px;
}
.job_post_company_quote{
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 0.65rem;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.job_post_company_quote p{
  font-size: 0.95rem;
  font-weight: 600;
  padding: 0.5rem 0;
}
.job_poster{
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem 0;
}
.job_poster ul li{
  list-style-type: none;
}
.job_poster_name{
  color:#000000;
  font-size: 1rem;
  font-weight: 500;
}
.job_poster_description{
  color:#828282;
}